.dashboard-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .first-block{
    display: flex;
    gap: 60%;
  }
  .dashboard-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .dashboard-table th,
  .dashboard-table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .dashboard-table th {
    background-color: #1f45c1;
    color: white;
  }
  
  .dashboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .dashboard-table tr:hover {
    background-color: #ddd;
  }
  
  .dashboard-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
  }
  
  .dashboard-button.update {
    background-color: #4CAF50;
  }
  
  .dashboard-button.delete {
    background-color: #f44336;
  }
  
  .dashboard-button.update:hover {
    background-color: #45a049;
  }
  
  .dashboard-button.delete:hover {
    background-color: #d32f2f;
  }
  
  /* navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar-email {
  font-size: 16px;
}

.navbar-logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.navbar-logout-button:hover {
  background-color: #d32f2f;
}